<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{resume.name}}的个人简历</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>

<body>
    <div class="main-info">
        <div class="first-screen">
            <h1 class="intro-name">我是
                <span>{{resume.name}}</span>
            </h1>
            <h3 class="intro-job">
                <!-- <p>{{resume.welcomeMsg}}</p> -->
                <p>我是一名{{resume.jobDesc}}</p>
            </h3>
            <div class="avatar">
                <a href="">
                    <img src="{{resume.avatar}}" alt="">
                </a>
            </div>
        </div>
        <div class="second-screen">
               <div class="mask"></div>
                <div class="box about">
                    <a >
                        <h1>个人简介</h1>
                        <p>{{resume.description}}</p>
                        <div class="oper">
                            <button class="more">查看更多</button>
                        </div>
                    </a>
                </div>
                <div class="box skill">
                    <a>
                        <h1>专业技能</h1>
                        <p>javascript jquery angularjs layui vue react</p>
                        <div class="oper">
                            <button class="more">查看更多</button>
                        </div>
                    </a>
                </div>
                <div class="box job">
                    <a>
                        <h1>项目经验</h1>
                        <p></p>
                        <div class="oper"></div>
                    </a>
                </div>
                <div class="box project">
                    <a>
                        <h1>工作经历</h1>
                        <p></p>
                        <div class="oper">
                            <button class="more">查看更多</button>
                        </div>
                    </a>
                </div>
        
            </div>
    </div>
    
    <div class="folding-panel">
        <div class="folding-left"></div>
        <div class="folding-right"></div>
        <div class="folding-content"></div>
        <a  class="close"></a>
    </div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/folder.js"></script>
</html>